html,
body {
  height: 100%;
  width: 100%;
}

.row1 {
  min-height: 50px;
  height: auto;
  width: 100%;
}

.column {
  width: 300px;
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  background-color: transparent;
  color: inherit;
  border: 0;
  width: 100%;
}

.jumbotron {
  padding: 1rem;
}

input,
.textarea {
  padding: 5px 10px;
  height: auto;
  min-height: 30px !important;
}

textarea {
  min-height: 30px !important;
  width: 100%;
  border: 0px;
  border-style: hidden;
}

.textarea:hover,
input:hover,
.textarea:active,
input:active,
.textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.hidden {
  display: none;
}

.note-wrapper {
  padding: 30px 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.note-item {
  position: relative;
  border-radius: 5px;
  word-wrap: break-word;
}

.note-item p,
.note-item h3 {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 0;
}

.note-content-wrapper {
  width: 100%;
  margin: 0;
  padding-bottom: 70px;
}

.note-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(171, 171, 171, 0.3);
}

.note-footer > ul {
  margin: 0;
  padding: 0 5px;
}

.note-footer > ul li {
  height: 40px;
  padding: 5px 10px;
  display: inline-block;
}

.note-footer > ul li i {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.note-footer .save-button {
  padding-top: 0;
  color: inherit;
}

.note-footer .save {
  position: absolute;
}

.note-footer .save:hover {
  background-color: rgba(171, 171, 171, 0.5);
}

.new-note {
  border-radius: 5px;
  min-height: 160px;
  min-width: 190px;
  cursor: pointer;
}

.new-note i {
  border-radius: 5px;
  color: white;
  background-color: #87CEFA;
  font-size: 160px;
}

.new-note i:hover {
  background-color: dodgerblue;
}

.popup-wrapper,
.delete-popup-wrapper {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.delete-popup {
  opacity: 1;
  background: white;
  border-radius: 5px;
  border: 0px !important;
  -webkit-box-shadow: 0 0 10px 3px grey;
          box-shadow: 0 0 10px 3px grey;
  width: 400px;
  height: auto;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.popup {
  opacity: 1;
  border-radius: 5px;
  border: 0px !important;
  -webkit-box-shadow: 0 0 10px 3px grey;
          box-shadow: 0 0 10px 3px grey;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.popup:hover {
  border: 0px !important;
}

div.popup .popup-body {
  padding: 0 30px 30px 30px;
  max-width: 600px;
  width: 100%;
  min-height: 200px;
  height: auto;
}

div.popup .popup-body .popup-item {
  background-color: transparent;
  color: inherit;
  border: 0;
  width: 100%;
}

div.popup .popup-body .popup-item.note-footer {
  background-color: rgba(171, 171, 171, 0.3);
  width: 100%;
}

div.popup .popup-body .close-wrapper {
  top: 8px;
  position: relative;
  height: 36px;
}

div.popup .popup-body .close-button {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

div.popup .popup-body .close-button i {
  line-height: 24px;
  font-size: 36px;
}

div.popup .popup-body .close-button:hover i {
  text-shadow: 0 0 10px black;
}

div.popup .popup-body .popup-title {
  font-size: 2rem;
  font-weight: 700;
}

div.popup .popup-body .popup-content {
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 1.5;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.color-icon:hover .color-picker {
  display: block;
}

.color-picker {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 3px lightgrey;
          box-shadow: 0 0 10px 3px lightgrey;
}

.color-picker ul {
  padding: 5px;
  padding-bottom: 0;
  margin: 0;
}

.color-picker li {
  height: 20px !important;
  width: 20px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2px;
}

.color-picker li:hover {
  border: 1px solid black;
}

.white {
  border: 1px solid lightgrey;
  background-color: white;
  color: black !important;
}

.yellow {
  border: 1px solid yellow;
  background-color: yellow;
  color: black !important;
}

.gold {
  border: 1px solid gold;
  background-color: gold;
  color: black !important;
}

.orange {
  border: 1px solid orange;
  background-color: orange;
  color: black !important;
}

.tomato {
  border: 1px solid tomato;
  background-color: tomato;
  color: black !important;
}

.red {
  border: 1px solid red;
  background-color: red;
  color: black !important;
}

.aquamarine {
  border: 1px solid aquamarine;
  background-color: aquamarine;
  color: black !important;
}

.charteruse {
  border: 1px solid chartreuse;
  background-color: chartreuse;
  color: black !important;
}

.lightcyan {
  border: 1px solid lightcyan;
  background-color: lightcyan;
  color: black !important;
}

.aqua {
  border: 1px solid aqua;
  background-color: aqua;
  color: black !important;
}

.dodgerblue {
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: black !important;
}

.navy {
  border: 1px solid navy;
  background-color: navy;
  color: white !important;
}

.navy:hover {
  border: 1px solid lightcyan !important;
}

.grey {
  border: 1px solid grey;
  background-color: grey;
  color: white !important;
}

.black {
  border: 1px solid black;
  background-color: black;
  color: white !important;
}

.black:hover {
  border: 1px solid lightcyan !important;
}

.magenta {
  border: 1px solid magenta;
  background-color: magenta;
  color: black !important;
}

.saddlebrown {
  border: 1px solid saddlebrown;
  background-color: saddlebrown;
  color: white !important;
}

.tick {
  background-image: url(../includes/images/tick.png);
  background-size: cover;
}

.tickwhite {
  background-image: url(../includes/images/tickwhite.png);
  background-position: center;
  background-size: 12px 10px;
  background-repeat: no-repeat;
}

.grid-item {
  margin: 10px 0;
}

.grid-item:hover {
  cursor: move;
}

.toast {
  background-color: black !important;
  color: white !important;
  width: 400px;
  position: absolute;
  top: 90%;
  right: 10px;
}

.toast .close {
  background: black;
  color: white;
}

.toast-header {
  background-color: black !important;
  color: white !important;
}

.toast-body {
  background-color: black !important;
  color: white !important;
}

.undo {
  text-decoration: none !important;
}

.packery-drop-placeholder {
  display: none;
}
/*# sourceMappingURL=style.css.map */